@font-face {
    font-family: 'NCAA FSU Noles Glades';
    src: url('NCAAFSUNolesGladesBold.woff2') format('woff2'),
        url('NCAAFSUNolesGladesBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

